<div class="container">
    <h1>Az antikvárium története</h1>

    <p>Az antikváriumot 1901-ben alapították, még az Osztrák–Magyar Monarchia idején. Magát az épületet többször újjá
        kellet építeni, ez azonban lehetőséget adott a megújításra, korszerűsítésre.</p>

    <p>A jelenlegi épület 2019-ben lett felújítva.</p>
    <div>
        <div class="row">
            <h2>Hírességek, akik itt jártak</h2>
        </div>
        <div class="row">
            <div class="col col-lg-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">Ady Endre</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Többször is kikölcsönözte Deák Ferenc műveit</p>
                        <a href="https://hu.wikipedia.org/wiki/Ady_Endre" class="card-link">Wikipédia</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">Móra Ferenc</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Az Én Újságom c. gyermeklapba írt művei közül 50-nek a kéziratát az
                            antikváriumnak adományozta</p>
                            <link href="https://hu.wikipedia.org/wiki/Móra_Ferenc">
                        <a href="" class="card-link">Wikipédia</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">Névtelen adományozó</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">1992-ben 500 000 Ft-tal támogatta az antikvárium működését</p>
                        <a href="https://hu.wikipedia.org/wiki/Móra_Ferenc" class="card-link">Wikipédia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form>
        <h2>Új híresség jelzése</h2>
        <div class="form-group">
            <label for="exampleFormControlInput1">Wikipédia link</label>
            <input type="email" class="form-control mt-2 mb-3" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Leírás</label>
            <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Elküld</button>
    </form>







</div>